<div class="callout secondary api-explorer">
    <label>
        Service Method:
        <!-- manually creating optgroup as it isn't part of the angular spec for select -->
        <select [(ngModel)]="selectedOption" (ngModelChange)="selectChange(methodSelect.value)" name="methodSelect" #methodSelect="ngModel">
            <optgroup *ngFor="let key of keys();" label="{{key}}">
                <!-- ngValue when object, value ok for strings -->
                <option *ngFor="let m of serviceMethods[key]" [ngValue]="m">{{m.name}}</option>
            </optgroup>

        </select>
    </label>

    <form #sForm="ngForm" [formGroup]="apiForm" novalidate>
        <div class="row">
            <div class="small-12 columns">
                <div>
                    <label [hidden]="selectedOption.params.length <1">
                        <input type="text" formControlName="field1" [attr.placeholder]="selectedOption?.params[0]?.label || ''" [(ngModel)]="fields.field1">
                    </label>
                    <div class="help-holder">
                        <p class="help-text" *ngIf="canBeMbid && validMbid">Valid mbid format entered</p>
                        <p class="help-text" *ngIf="canBeMbid!==undefined && !canBeMbid">*mbid not accepted</p>
                    </div>
                </div>

                <div>
                    <label [hidden]="selectedOption.params.length <2">
                        <input type="text" formControlName="field2" [attr.placeholder]="selectedOption?.params[1]?.label || ''" [(ngModel)]="fields.field2">
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <button type="button" class="expanded button" [disabled]="!sForm.form.valid" (click)="callApi()">{{selectedOption.name}}</button>
            </div>
        </div>
        
    </form>
    {{fields | json}}
</div>